<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Medity</title>



<!--
Next Level CSS Template
https://templatemo.com/tm-532-next-level
-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" />
    <link rel="stylesheet" href="css/all.min.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/templatemo-style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/sha256.min.js"></script>
    <script src="https://unpkg.com/@metamask/legacy-web3@latest/dist/metamask.web3.min.js"></script>
    <script src="js/coin.js"></script>
  
    <script src="js/parallax.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    </script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row tm-brand-row">
        <div class="col-lg-4 col-10">
          <div class="tm-brand-container">
            <div class="tm-brand-texts">
              <h1 class="text-uppercase tm-brand-name">Medity</h1>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-2 tm-nav-col">
          <div class="tm-nav">
            <nav class="navbar navbar-expand-lg navbar-light tm-navbar">
              <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto mr-0">
                  <li class="nav-item">
                    <div class="tm-nav-link-highlight"></div>
                    <a class="nav-link" style="font-weight: bold;" href="./main">Home</a>
                  </li>
                  <li class="nav-item">
                    <div class="tm-nav-link-highlight"></div>
                    <a class="nav-link" style="font-weight: bold;" href="./about"> View</a>
                  </li>
                  <li class="nav-item active">
                    <div class="tm-nav-link-highlight"></div>
                    <a class="nav-link" style="font-weight: bold;" href="./Gall_cus">
                      Purchase <span class="sr-only">(current)</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <div class="tm-nav-link-highlight"></div>
                    <a class="nav-link" style="color: #fb765f; font-weight: bold;" href="/logout">Logout</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>

      <div class="row tm-welcome-row">
        <div class="col-12">
          <div
            class="tm-welcome-parallax tm-center-child"
            data-parallax="scroll"
            data-image-src="img/blooming-bg.jpg"
          >
            <div class="tm-bg-black-transparent tm-parallax-overlay">
              <h2>MY MEDI</h2>
              <input value= <%= name %> id="myaccount" size="45" placeholder="" disabled></input>
              <p id="balance" value =0000p>0000p</p>
            </div>
          </div>
        </div>
      </div>

      <section class="row tm-pt-4">
        <div class="col-12 tm-page-cols-container">
          <div class="tm-page-col-left">
            <ul class="tabs clearfix filters-button-group">
              <li>
                <a href="#" class="active" data-filter="*">
                  <div class="tm-tab-icon"></div>
                  모바일 교환권
                </a>
              </li>
              <li>
                <a href="#" class="" data-filter=".category-1">
                  <div class="tm-tab-icon"></div>
                  영화/도서
                </a>
              </li>
              <li>
                <a href="#" class="" data-filter=".category-2">
                  <div class="tm-tab-icon"></div>
                  식품
                </a>
              </li>
              <li>
                <a href="#" class="" data-filter=".category-3">
                  <div class="tm-tab-icon"></div>
                  뷰티
                </a>
              </li>
            </ul>
          </div>
          <div class="tm-page-col-right">
            <div class="tm-gallery" id="tmGallery">
              <div class="tm-gallery-item category-1">
                <figure class="effect-bubba">
                  <img
                    src="img/ice.jpg"
                    alt="Gallery item"
                    class="img-fluid"
                  />
                  <figcaption>
                    <h2>아이스 아메리카노</h2>
                    <button id="iceCoffee" value=5000>5000</button>
                  </figcaption>
                </figure>
              </div>
              <div class="tm-gallery-item category-2">
                <figure class="effect-bubba">
                  <img
                    src="img/hot.jpg"
                    alt="Gallery item"
                    class="img-fluid"
                  />
                  <figcaption>
                    <h2>핫 아메리카노</h2>
                    <button id="hotCoffee" value=4800>4800</button>
                  </figcaption>
                </figure>
              </div>
              <div class="tm-gallery-item category-1">
                <figure class="effect-bubba">
                  <img
                    src="img/mincho.jpg"
                    alt="Gallery item"
                    class="img-fluid"
                  />
                  <figcaption>
                    <h2>민트 초콜릿 칩 블렌디드</h2>
                    <button id="minCho" value=6700>6700</button>
                  </figcaption>
                </figure>
              </div>
              <div class="tm-gallery-item category-3">
                <figure class="effect-bubba">
                  <img
                    src="img/earlgrey.jpg"
                    alt="Gallery item"
                    class="img-fluid"
                  />
                  <figcaption>
                    <h2>얼그레이 티</h2>
                    <button id="earlGrey" value=4800>4800</button>
                  </figcaption>
                </figure>
              </div>
              <div class="tm-gallery-item category-2">
                <figure class="effect-bubba">
                  <img
                    src="img/banana.jpg"
                    alt="Gallery item"
                    class="img-fluid"
                  />
                  <figcaption>
                    <h2>바나나 크림 다크 초코 블렌디드</h2>
                    <button id="bananaCream" value=6700>6700</button>
                  </figcaption>
                </figure>
              </div>
              <div class="tm-gallery-item category-3">
                <figure class="effect-bubba">
                  <img
                    src="img/icemilktea.jpg"
                    alt="Gallery item"
                    class="img-fluid"
                  />
                  <figcaption>
                    <h2>아이스 밀크티</h2>
                    <button id="milkTea" value=6000>6000</button>
                  </figcaption>
                </figure>
              </div>
             
            </div>
          </div>
        </div>
      </section>

     
      <!-- Page footer -->
      <footer class="row tm-page-footer">
        <p class="col-12 tm-copyright-text mb-0">
          Copyright &copy; 2019 Next Level Company... 
          
          Designed by Template Mo
        </p>
      </footer>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/parallax.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
      $(function() {
        /* Isotope Gallery */

        // init isotope
        var $gallery = $(".tm-gallery").isotope({
          itemSelector: ".tm-gallery-item",
          layoutMode: "fitRows"
        });
        // layout Isotope after each image loads
        $gallery.imagesLoaded().progress(function() {
          $gallery.isotope("layout");
        });

        $(".filters-button-group").on("click", "a", function() {
          var filterValue = $(this).attr("data-filter");
          $gallery.isotope({ filter: filterValue });
          console.log("Filter value: " + filterValue);
        });

        /* Tabs */
        $(".tabgroup > div").hide();
        $(".tabgroup > div:first-of-type").show();
        $(".tabs a").click(function(e) {
          e.preventDefault();
          var $this = $(this),
            tabgroup = "#" + $this.parents(".tabs").data("tabgroup"),
            others = $this
              .closest("li")
              .siblings()
              .children("a"),
            target = $this.attr("href");
          others.removeClass("active");
          $this.addClass("active");

          // Scroll to tab content (for mobile)
          if ($(window).width() < 992) {
            $("html, body").animate(
              {
                scrollTop: $("#tmGallery").offset().top
              },
              200
            );
          }
        });
      });
    </script>
  </body>
</html>